<div class="footer-rule"></div>
<footer class="site-footer">
  <div class="footer-contact">
    UCB 256, Boulder, CO 80309 &nbsp;&middot;&nbsp;
    <a href="mailto:taylor.jaworski@colorado.edu">taylor.jaworski@colorado.edu</a>
  </div>
  <div class="footer-updated">
    Updated <script>
      (function(){
        var m = ['January','February','March','April','May','June',
                 'July','August','September','October','November','December'];
        var d = new Date();
        document.write(m[d.getMonth()] + ' ' + d.getFullYear());
      })();
    </script>
  </div>
</footer>
