<nav class="navbar">
  <a href="/" class="masthead-name">Taylor Jaworski</a>
  <div class="masthead-rule"></div>
  <div class="navbar-links">
    <div class="dropdown">
      <a href="#" class="drop-link" aria-haspopup="true" aria-expanded="false">teaching</a>
      <ul class="dropdown-menu" role="menu" aria-label="Teaching menu">
        <li><a href="/useconhist.html" role="menuitem">US Economic History</a></li>
        <li><a href="/eureconhist.html" role="menuitem">European Economic History</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-bottom-rule"></div>
</nav>
