<nav class="navbar">
  <div class="navbar-content left">
    <a href="/">taylor jaworski</a>
  </div>
  <div class="navbar-content right">
    <a href="/CV.pdf" target="_blank">cv</a>
    <div class="dropdown">
      <a href="#" class="drop-link" aria-haspopup="true" aria-expanded="false">teaching</a>
      <ul class="dropdown-menu" role="menu" aria-label="Teaching menu">
        <li><a href="/useconhist.html" role="menuitem">US Economic History (UG)</a></li>
        <li><a href="/eureconhist.html" role="menuitem">European Economic History (UG)</a></li>
      </ul>
    </div>
  </div>
</nav>
